<div class="max-w-screen-3xl mx-auto bg-red-200 p-4">
  <div class="rounded-lg bg-gray-400 py-4">
    <h2 class="mb-4 bg-red-700 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">あんこねくと</h2>

    <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
      全国各地の魅力的なあんこ菓子やスイーツの情報を集め、共有するサービスです。<br>
      ユーザーは地域ごとやカテゴリごとに検索し、新しいお菓子を探してみましょう！
    </p>
  </div>
</div>

<div class="max-w-screen-3xl mx-auto bg-yellow-300 pb-4">
  <div class="flex flex-col gap-y-3 bg-yellow-800 md:flex-row md:flex-wrap">
    <!-- hidari -->
    <div class="grid gap-3 bg-blue-300 p-4 sm:grid-cols-2 md:order-first md:w-2/4 md:gap-3 lg:order-first lg:w-2/4 lg:grid-cols-2 xl:grid-cols-2">
      <div class="col-span-full">
        <h2 class="bg-yellow-500 text-center text-2xl font-bold">左側の表題</h2>
      </div>
      <!-- product - start -->

      <div class="group relative flex h-36 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

        <div class="relative flex w-full flex-col rounded-lg bg-white bg-opacity-60 p-2 text-center">
          <span class="text-lg font-bold text-gray-800">こしあん</span>
          <span class="text-sm text-gray-600">あんこの説明</span>
        </div>
      </div>
      <!-- product - end -->
      <!-- product - start -->
      <div class="group relative flex h-36 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

        <div class="relative flex w-full flex-col rounded-lg bg-white bg-opacity-60 p-2 text-center">
          <span class="text-lg font-bold text-gray-800">こしあん</span>
          <span class="text-sm text-gray-600">hjしっshjkあんこの説明jdかjsd</span>
        </div>
      </div>
      <!-- product - end -->

      <!-- product - start -->
      <div class="group relative flex h-36 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

        <div class="relative flex w-full flex-col rounded-lg bg-white bg-opacity-60 p-2 text-center">
          <span class="text-lg font-bold text-gray-800">こしあん</span>
          <span class="text-sm text-gray-600">あんこの説明</span>
        </div>
      </div>
      <!-- product - end -->

      <!-- product - start -->
      <div>
        <a href="#" class="group relative flex h-36 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
          <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

          <div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
            <span class="text-gray-500">こしあん</span>
            <span class="text-lg font-bold text-gray-800 lg:text-xl">あんこの説明</span>
          </div>
        </a>
      </div>
      <!-- product - end -->

      <!-- product - start -->
      <div>
        <a href="#" class="group relative flex h-36 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
          <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

          <div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
            <span class="text-gray-500">こしあん</span>
            <span class="text-lg font-bold text-gray-800 lg:text-xl">あんこの説明</span>
          </div>
        </a>
      </div>
      <!-- product - end -->

      <!-- product - start -->

      <div class="relative h-36 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

        <div class="relative h-32 flex-wrap overflow-hidden rounded-lg bg-white text-center opacity-0 hover:opacity-80">
          <span class="text-lg font-bold text-gray-800">こしあん</span>
          <span class="text-sm text-gray-600">あんこの説明</span>
        </div>
      </div>
      <!-- product - end -->
    </div>
    <!-- hidari -->
    <!-- migi -->
    <div class="grid gap-3 bg-blue-700 p-4 sm:grid-cols-2 md:order-first md:w-2/4 md:gap-3 lg:order-first lg:w-2/4 lg:grid-cols-2 xl:grid-cols-2">
      <div class="col-span-full">
        <h2 class="bg-yellow-500 text-center text-2xl font-bold">右側の表題</h2>
      </div>
      <!-- product - start -->
      <div class="group relative flex h-56 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

        <div class="relative flex w-full flex-col rounded-lg bg-white bg-opacity-60 p-2 text-center">
          <span class="text-lg font-bold text-gray-800">こしあん</span>
          <span class="text-sm text-gray-600">あんこの説明</span>
        </div>
      </div>
      <!-- product - end -->

      <!-- product - start -->
      <div>
        <a href="#" class="group relative flex h-56 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
          <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

          <div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
            <span class="text-gray-500">こしあん</span>
            <span class="text-lg font-bold text-gray-800 lg:text-xl">あんこの説明</span>
          </div>
        </a>
      </div>
      <!-- product - end -->

      <!-- product - start -->
      <div>
        <a href="#" class="group relative flex h-56 items-end overflow-hidden rounded-lg bg-gray-100 p-4 shadow-lg">
          <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

          <div class="relative flex w-full flex-col rounded-lg bg-white p-4 text-center">
            <span class="text-gray-500">こしあん</span>
            <span class="text-lg font-bold text-gray-800 lg:text-xl">あんこの説明</span>
          </div>
        </a>
      </div>
      <!-- product - end -->

      <!-- product - start -->

      <div class="relative h-56 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>

        <div class="relative h-52 flex-wrap overflow-hidden rounded-lg bg-white text-center opacity-0 hover:opacity-80">
          <span class="text-lg font-bold text-gray-800">こしあん</span>
          <span class="text-sm text-gray-600">あんこの説明</span>
        </div>
      </div>
      <!-- product - end -->
    </div>
    <!-- migi -->
  </div>
</div>
