<div class="max-w-screen-3xl mx-auto bg-red-200 p-4">
  <div class="rounded-lg bg-gray-400 py-4">
    <h2 class="mb-4 bg-red-700 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">あんこねくと</h2>

    <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">
      全国各地の魅力的なあんこ菓子やスイーツの情報を集め、共有するサービスです。<br>
      ユーザーは地域ごとやカテゴリごとに検索し、新しいお菓子を探してみましょう！
    </p>

  </div>
</div>

<div class="max-w-screen-3xl mx-auto bg-yellow-300 pb-4">
  <div class="flex flex-col gap-y-3 bg-yellow-800 md:flex-row md:flex-wrap">
    <!-- hidari -->
    <div class="grid gap-3 bg-blue-300 p-4 sm:grid-cols-2 md:order-first md:w-2/4 md:gap-3 lg:order-first lg:w-2/4 lg:grid-cols-2 xl:grid-cols-2">
      <div class="col-span-full">
        <h2 class="bg-yellow-500 text-center text-2xl font-bold">主なあんこの材料</h2>
      </div>

      <div class="relative h-36 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>
        <div class="relative h-32 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-3">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">小豆あん</h1>
          <p class="text-base text-gray-600">
            あんこの中でも、代表的なあんで小豆が原料。基本的にあんこと言えば、この小豆あんを指す。
          </p>
        </div>
      </div>

      <div class="relative h-36 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>
        <div class="relative h-32 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-3">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">赤あん</h1>
          <p class="text-base text-gray-600">
            小豆を使ったあんこですが、赤いんげん豆などの赤い豆も原材料として使っています。
          </p>
        </div>
      </div>

      <div class="relative h-36 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>
        <div class="relative h-32 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-4">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">白あん</h1>
          <p class="text-base text-gray-600">
            白いんげん豆や白小豆、白ささげ豆などの白い豆を使って作られたあんこのこと。
          </p>
        </div>
      </div>

      <div class="relative h-36 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>
        <div class="relative h-32 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-3">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">うぐいすあん</h1>
          <p class="text-base text-gray-600">
            うぐいすあんは青えんどう豆を原材料としたあんこで、淡い緑色をしているのが特徴です。
          </p>
        </div>
      </div>

      <div class="relative h-36 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>
        <div class="relative h-32 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-3">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">ずんだあん</h1>
          <p class="text-base text-gray-600">
            ずんだあんは枝豆を原材料としています。枝豆の色そのままに、鮮やかな黄緑色をしています。
          </p>
        </div>
      </div>

      <div class="relative h-36 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110' %>
        <div class="relative h-32 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-3">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">その他</h1>
          <p class="text-base text-gray-600">
            芋あんや栗あんなど、豆を使わず、さつまいもや栗を原材料としたあんこがあります。豆を使ったあんことはまた違ったおいしさを楽しめます。
          </p>
        </div>
      </div>
    </div>
    <div class="grid gap-3 bg-blue-700 p-4 sm:grid-cols-2 md:order-first md:w-2/4 md:gap-3 lg:order-first lg:w-2/4 lg:grid-cols-2 xl:grid-cols-2">
      <div class="col-span-full">
        <h2 class="bg-yellow-500 text-center text-2xl font-bold">主なあんこの製法</h2>
      </div>

      <div class="relative h-56 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200' %>
        <div class="relative h-52 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-3">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">こしあん</h1>
          <p class="text-base text-gray-600">
          こしあんは小豆をしっかりと潰した後、裏ごしして皮を取り除いたあんこです。滑らかな舌触りが特徴です。
          </p>
        </div>
      </div>

      <div class="relative h-56 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200' %>
        <div class="relative h-52 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-3">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">つぶあん</h1>
          <p class="text-base text-gray-600">
          つぶあんは、ある程度小豆の形を残して作られるあんこです。小豆をあまり潰さず、裏ごしもしないため、小豆の粒の食感を楽しむことができます。
          </p>
        </div>
      </div>

      <div class="relative h-56 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200' %>
        <div class="relative h-52 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-3">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">小倉あん</h1>
          <p class="text-base text-gray-600">
            小倉あんは、こしあんやつぶしあんに、蜜で煮た甘い大納言小豆を加えたものです。こしあんやつぶしあんの滑らかな舌触りと、大納言小豆の食感が程よく交じっていることが特徴。
          </p>
        </div>
      </div>

      <div class="relative h-56 flex-wrap items-end overflow-hidden rounded-lg bg-gray-100 p-2 shadow-lg">
        <%= image_tag '28239021_s.jpg', loading: 'lazy', alt: 'Photo Description', class: 'absolute inset-0 h-full w-full object-cover object-center transition duration-200' %>
        <div class="relative h-52 flex-wrap overflow-hidden rounded-lg bg-white text-left opacity-0 hover:opacity-80 p-3">
          <h1 class="text-2xl font-bold text-gray-800 pb-2 text-center">つぶしあん</h1>
          <p class="text-base text-gray-600">
            つぶしあんは、つぶあんとよく似ていますが、小豆をあまり潰さないつぶあんと比べると、つぶしあんは豆はしっかりと潰します。豆をよく潰す点では、つぶしあんはこしあんと同じですが、皮は取り除きません。豆をつぶした後、皮を取り除くかどうかでつぶしあんになるか、こしあんになるか変わります。
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
