<div class="overflow-hidden rounded-lg bg-white shadow-md ">
  <%= link_to post_path(post) do %>
    <%= image_tag post.photo_image.thumb.url, alt: "お菓子の画像", class: "w-full h-44 object-cover" %>
  <% end %>
  <div class="p-2">
      <h3 class="mb-1 text-lg font-semibold"><%= post.name %></h3>
    <div class="mb-1 flex items-center">
    <span class="text-sm text-gray-800 sm:text-base"><%= post.prefecture.name %></span>
    </div>
    <div class="mb-1 flex items-center">
      <span class="mr-2 text-sm text-gray-600 sm:text-base">材料名：</span>
      <span class="text-sm text-gray-800 sm:text-base"><%= post.ingredient.name %></span>
    </div>
    <div class="mb-1 flex items-center">
      <span class="mr-2 text-sm text-gray-600 sm:text-base">製法名：</span>
      <span class="text-sm text-gray-800 sm:text-base"><%= post.cooking_method.name %></span>
    </div>
  </div>
</div>