
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-3xl px-8 md:px-8">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl">新規投稿</h2>
      <div class="mx-auto max-w-4xl rounded-lg border">
        <div class="flex flex-wrap m-4">
          <div class="w-full px-4 md:w-1/2">
          <%= form_with model: @posts, url: posts_path, multipart: true, local: true do |f| %>
            <div class="mb-4">
              <%= f.label :name, "お菓子名", class: "mb-1 inline-block text-lg text-gray-800" %>
              <%= f.text_field :name, class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring", placeholder: "お菓子名を入力", autocomplete: "name" %>
            </div>
            <div class="mb-4">
              <%= f.label :photo_image, "写真", class: "mb-1 inline-block text-lg text-gray-800" %>
              <%= f.file_field :photo_image, class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100", accept: 'image/*' %>
            </div>
            <div class="mb-4">
              <%= f.label :prefecture, "都道府県", class: "mb-1 inline-block text-lg text-gray-800" %>
              <%= f.select :prefecture, options_for_select(prefecture_options), { prompt: "都道府県を選択" }, { class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring" } %>
            </div>
            <div class="mb-4">
              <%= f.label :shop_name, "お店の名前", class: "mb-1 inline-block text-lg text-gray-800" %>
              <%= f.text_field :shop_name, class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring", placeholder: "お店の名前を入力" %>
            </div>
            <div class="mb-4">
              <%= f.label :address, "お店の住所", class: "mb-1 inline-block text-lg text-gray-800" %>
              <%= f.text_field :address, class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring", placeholder: "お店の住所を入力", autocomplete: "address" %>
            </div>
          </div>
          <div class="w-full px-4 md:w-1/2">
            <div class="mb-4">
              <%= f.label :ingredients, "あんこの材料", class: "mb-1 inline-block text-lg text-gray-800" %>
              <%= f.select :ingredients, options_for_select(["小倉あん", "遥くん", "ナディア", "てぃぞさん"]), { prompt: "選択" }, { class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring" } %>
            </div>
            <div class="mb-4">
              <%= f.label :method, "あんこの製法", class: "mb-2 inline-block text-lg text-gray-800" %>
              <%= f.select :method, options_for_select(["つぶあん", "こばけん", "ウミさん"]), { prompt: "選択" }, { class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring" } %>
            </div>
            <div class="mb-4">
              <%= f.label :comment, "コメント", class: "mb-2 inline-block text-lg text-gray-800" %>
              <%= f.text_area :comment, rows: 3, class: "w-full rounded border bg-gray-50 px-3 py-3 text-gray-800 outline-none ring-customorange ring-opacity-40 transition duration-100 focus:ring", placeholder: "コメントを入力" %>
            </div>
            <%= f.submit "投稿する", class: "w-full rounded-lg bg-customred px-8 py-3 mt-3 text-center font-semibold text-white outline-none ring-gray-300 transition duration-100 hover:bg-gray-700 focus-visible:ring active:bg-gray-600 md:text-base" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
