<!DOCTYPE html>
<html>
  <head>
    <title>あんこねくと</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', data: { 'turbo-track': 'reload' } %>
    
    <script src="https://kit.fontawesome.com/6a3a80e81e.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render "shared/login_header" %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <div class="flex-grow bg-red-50">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>