<!DOCTYPE html>
<html>
  <head>
    <title>あんこねくと</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', data: { 'turbo-track': 'reload' } %>
    <%= stylesheet_link_tag 'application.tailwind', media: 'all', 'data-turbo-track': 'reload' %>

    <script src="https://kit.fontawesome.com/6a3a80e81e.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag('logo.png') %>

    <%= display_meta_tags(default_meta_tags) %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CP4W4Q2YS4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CP4W4Q2YS4');
    </script>
  </head>

  <body class="flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render "shared/login_header" %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <div class="flex-grow bg-red-50">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>